<header class="hero">
  <div class="logo">
    <img
      src="images/badwolf_calisthenics_logo-removebg-preview.png"
      alt="Badwolf Calisthenics Logo"
    />
    <h1 class="main-title">Badwolf Calisthenics</h1>
  </div>
  <nav>
    <ul>
      <li id="training-plans-tab" style="display: none">
        <a
          href="your-training-plans"
          class="<%= currentPage === 'your-training-plans' ? 'active' : '' %>"
        >
          Your Training Plans
        </a>
      </li>
      <li>
        <a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>"
          >Home</a
        >
      </li>
      <li>
        <a href="about" class="<%= currentPage === 'about' ? 'active' : '' %>"
          >About</a
        >
      </li>
      <li>
        <a
          href="reviews"
          class="<%= currentPage === 'reviews' ? 'active' : '' %>"
          >Reviews</a
        >
      </li>
      <li>
        <a href="skills" class="<%= currentPage === 'skills' ? 'active' : '' %>"
          >Skills</a
        >
      </li>
      <li>
        <a
          href="contact"
          class="<%= currentPage === 'contact' ? 'active' : '' %>"
          >Contact</a
        >
      </li>
      <li class="nav-auth">
        <a href="login" id="sign-in-btn" class="button">Login</a>
        <a href="signup" id="sign-up-btn" class="button">Sign Up</a>
        <a href="/" id="logout-btn" class="button" style="display: none"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</header>

<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
  import {
    getAuth,
    onAuthStateChanged,
  } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";

  const firebaseConfig = {
    apiKey: "AIzaSyAlboKcxcOZmqWLlt79VEovpWOFSKHgBbI",
    authDomain: "badwolfcalisthenics-77163.firebaseapp.com",
    projectId: "badwolfcalisthenics-77163",
    // ... any other needed options
  };

  const app = initializeApp(firebaseConfig);
  const auth = getAuth(app);

  onAuthStateChanged(auth, (user) => {
    const trainingPlansTab = document.getElementById("training-plans-tab");

    if (user) {
      trainingPlansTab.style.display = "inline-block";
    } else {
      trainingPlansTab.style.display = "none";
    }
  });
</script>
